<mat-toolbar class="ofssui-toolbar px-6">
  <app-back-button [toUrl]="['/app/product-config']"></app-back-button>
  <span>Create Product</span>
</mat-toolbar>
<mat-card class="mat-eg">
  <form [formGroup]="newProductForm">

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <p>
          <mat-form-field>
            <mat-label>Product Name:</mat-label>
            <input type="text" formControlName="name" matInput placeholder="Enter Product name:">
          </mat-form-field>
        </p>
      </div>
    </app-lp-form-field>

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <p>
          <mat-form-field>
            <mat-label>Product Description:</mat-label>
            <input type="text" matInput placeholder="Enter Product Description:">
          </mat-form-field>
        </p>
      </div>
    </app-lp-form-field>

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <mat-form-field appearance="fill">
          <mat-label>Yarn Count:</mat-label>
          <mat-select formControlName="count">
            @for (yarnCount of countTypes; track yarnCount) {
              <mat-option [value]="yarnCount.valueOf()">{{ yarnCount }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </app-lp-form-field>

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <mat-form-field appearance="fill">
          <mat-label>Material Type:</mat-label>
          <mat-select formControlName="materialType">
            @for (materialType of materialTypes; track materialType) {
              <mat-option [value]="materialType.valueOf()">{{ materialType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </app-lp-form-field>

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <mat-form-field appearance="fill">
          <mat-label>Process Type:</mat-label>
          <mat-select formControlName="processType">
            @for (processType of processTypes; track processType) {
              <mat-option [value]="processType.valueOf()">{{ processType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </app-lp-form-field>

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <mat-form-field appearance="fill">
          <mat-label>Blend Type:</mat-label>
          <mat-select formControlName="blendType">
            @for (blendType of blendTypes; track blendType) {
              <mat-option [value]="blendType.valueOf()">{{ blendType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </app-lp-form-field>

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <mat-form-field appearance="fill">
          <mat-label>Spinning Tech Type:</mat-label>
          <mat-select formControlName="spinningTechType">
            @for (spinningTechType of spinningTechTypes; track spinningTechType) {
              <mat-option [value]="spinningTechType.valueOf()">{{ spinningTechType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </app-lp-form-field>

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <mat-form-field appearance="fill">
          <mat-label>Enduse Type:</mat-label>
          <mat-select formControlName="enduseType">
            @for (enduseType of enduseTypes; track enduseType) {
              <mat-option [value]="enduseType.valueOf()">{{ enduseType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </app-lp-form-field>

    <app-lp-form-field [required]="true">
      <div style="margin: 10px">
        <mat-form-field appearance="fill">
          <mat-label>Material Blend Type:</mat-label>
          <mat-select formControlName="materialBlendType">
            @for (materialBlendType of materialBlendTypes; track materialBlendType) {
              <mat-option [value]="materialBlendType.valueOf()">{{ materialBlendType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </app-lp-form-field>

    <section>
      <div class="example-button-row">
        <button class="bt1" (click)="submitNewProduct()" [disabled]="!newProductForm.valid"
                mat-flat-button color="dodgerblue">SUBMIT
        </button>
        <button class="bt1" mat-flat-button color="dodgerblue" routerLink="../settings">Cancel
        </button>
      </div>
    </section>

  </form>
</mat-card>
